#
# This source file is part of the Stanford Spezi open source project
#
# SPDX-FileCopyrightText: 2025 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: Build-and-Test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  package_tests:
    name: Build and Test Swift Package ${{ matrix.platform.name }} (${{ matrix.config }})
    uses: StanfordBDHG/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    strategy:
      matrix:
        config: [Debug, Release]
        platform:
          - name: iOS
            destination: 'platform=iOS Simulator,name=iPhone 17 Pro'
          - name: macOS
            destination: 'platform=macOS,name=My Mac'
          - name: watchOS
            destination: 'platform=watchOS Simulator,name=Apple Watch Series 11 (46mm)'
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      scheme: HealthKitOnFHIR-Package
      destination: ${{ matrix.platform.destination }}
      buildConfig: ${{ matrix.config }}
      resultBundle: ${{ format('HealthKitOnFHIR-Package-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
      artifactname: ${{ format('HealthKitOnFHIR-Package-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
  ui_tests:
    name: Build and Test UI Tests ${{ matrix.platform.name }} (${{ matrix.config }})
    uses: StanfordBDHG/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    strategy:
      matrix:
        config: [Debug, Release]
        platform:
          - name: iOS
            destination: 'platform=iOS Simulator,name=iPhone 17 Pro'
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      path: 'Tests/UITests'
      scheme: TestApp
      destination: ${{ matrix.platform.destination }}
      resultBundle: ${{ format('TestApp-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
      artifactname: ${{ format('TestApp-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
  uploadcoveragereport:
    name: Upload Coverage Report
    needs: [package_tests, ui_tests]
    uses: StanfordBDHG/.github/.github/workflows/create-and-upload-coverage-report.yml@v2
    with:
      coveragereports: HealthKitOnFHIR-Package-*.xcresult TestApp-*.xcresult
    secrets:
      token: ${{ secrets.CODECOV_TOKEN }}